.sec9 {
    background-color:#F0F4F9 ;
}
.sec9 .container{
    /* height: 540px; */
    height: 37vh;
    /* height: 50vh; */
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    /* background-color: #7300ff; */
    position: relative;
}
.kwords {
    position: relative;
    top: 10%;
    left: 5%;
    /* bottom: 10px; */
    /* margin: auto; */
    /* margin-left: 350px; */
    display: grid;
    gap: 20px;
}
.kword2 {
    color: #ffcc00;
}
.kword3 {
    color: black;
    font-size: 35px;
    font-weight: 700;
}
.selectors{
    /* background-color: aqua; */
    width: 90%;
    margin: auto;
    position: relative;
    top: -7%;
    left: 0%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* position: relative;
    top: -35%;
    left: 0%; */
    /* transform: translate(3% , -480%); */
    /* width: 900px; */
    /* margin: auto; */
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    /* gap: 5px; */
}
.selector1{
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 90%;
    /* text-align: center; */
}
select{
    background-color: #ffffff;
    padding:3px 10px;
}
.selector1 h3{
    /* padding: 2px 18px; */
    /* margin-left: 20px; */
}

@media (max-width:576px){
    .selectors{
    grid-template-columns: repeat(2,1fr);
    row-gap: 10px;
    top: -1%;
    }

}
@media (min-width:576px) and (max-width:768px){


}
@media (min-width:768px) and (max-width:992px){


}
@media (min-width:992px) and (max-width:1200px){

    
}
@media (min-width:1200px) and (max-width:1500px){


}